*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.calculator-container{
    display: flex;
    background-color: lightslategrey;
    
}

.digits-container{
    display: flex;
}

.operations-container{
    display: flex;
}