*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.calculator-container{
    display: flex;
    background-color: lightslategrey;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
}

.digits-container{
    display: flex;
    background-color: gray;
}

.operations-container{
    display: flex;
}